Schema(
    doc: "Window configuration.",
    kind: Struct(
        fields: [
            Field(
                name: "width",
                ty: U32
            ),
            Field(
                name: "height",
                ty: U32
            ),
            Field(
                name: "fullscreen",
                ty: Bool,
                optional: true
            )
        ]
    )
)